<a href="https://colab.research.google.com/github/chaerui7967/stock_predict_news_and_youtube/blob/master/%EC%85%80%ED%8A%B8%EB%A6%AC%EC%98%A8_%ED%86%B5%ED%95%A9%ED%85%8C%EC%9D%B4%EB%B8%94_10%EA%B0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오늘 시작

## 라이브러리 설치

In [1]:
!pip install finance-datareader
!pip install pykrx
!pip install pymysql
!pip install konlpy
from konlpy.tag import Okt
okt = Okt()

Collecting finance-datareader
  Downloading finance_datareader-0.9.31-py3-none-any.whl (17 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.2.6)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.1.5)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.62.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.31 requests-file-1.5.1
Collecting pykrx
  Downloading pykrx-1.0.22-py3-none-any.whl (70 kB)
     |████████████████████████████████| 70 kB 3.3 MB/s
Collecting datetime
  Downloading DateTime-4.3-py2.py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 4.9 MB/s
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (from pykrx) (1.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from pykrx) (2.23.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pykrx) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pykrx) (1.19.5)
Collecting deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting zope.interface
  Downloading zope.interface-5.4.0-cp37-cp37m-manylinux2010_x86_64.whl (251 kB)
     |████████████████████████████████| 251 kB 17.3 MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from datetime->pykrx) (2018.9)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.7/dist-packages (from deprecated->pykrx) (1.12.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pykrx) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pykrx) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->pykrx) (2.10)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->datetime->pykrx) (57.4.0)
Installing collected packages: zope.interface, deprecated, datetime, pykrx
Successfully installed datetime-4.3 deprecated-1.2.13 pykrx-1.0.22 zope.interface-5.4.0
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.1 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Collecting konlpy
  Downloading konlpy-0.5.2-py2.py3-none-any.whl (19.4 MB)
     |████████████████████████████████| 19.4 MB 136 kB/s
Requirement already satisfied: tweepy>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (3.10.0)
Collecting beautifulsoup4==4.6.0
  Downloading beautifulsoup4-4.6.0-py3-none-any.whl (86 kB)
     |████████████████████████████████| 86 kB 5.3 MB/s
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Collecting colorama
  Downloading colorama-0.4.4-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.19.5)
Collecting JPype1>=0.7.0
  Downloading JPype1-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (448 kB)
     |████████████████████████████████| 448 kB 23.3 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (3.7.4.3)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)
Installing collected packages: JPype1, colorama, beautifulsoup4, konlpy
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed JPype1-1.3.0 beautifulsoup4-4.6.0 colorama-0.4.4 konlpy-0.5.2

## 패키지 & 함수 로딩

In [2]:
# 필요 라이브러리
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# 주식가격 로딩
import FinanceDataReader as fdr
from pykrx import stock

import datetime

In [3]:
def money_sur(stock_name, start, end):

    start_date = start
    end_date = end
    sample_code = stock_name

    dataset = fdr.DataReader(sample_code, start = start_date, end = end_date )
    dataset = dataset.reset_index()
    df = stock.get_market_fundamental_by_date(fromdate=start_date, todate=end_date, ticker=sample_code)
    df = df.reset_index()
    df.columns = ['Date','BPS', 'PER', 'PBR', 'EPS', 'DIV', 'DPS']
    data = pd.merge(dataset, df, on='Date')

    return data

In [4]:
def reverse_min_max_scaling(org_x, x): #종가 예측값
    org_x_np = np.asarray(org_x) 
    x_np = np.asarray(x)
    return (x_np * (org_x_np.max() - org_x_np.min())) + org_x_np.min()

## 통합테이블 생성

In [5]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# total_table = pd.read_csv('/content/drive/My Drive/Final PJT - 업빛투/total_table.csv') # 기존 테이블

In [7]:
# 구성
dic = {'code' : [],
       'date' : [],
       'lstm' : [],
       'arima' : [],
       'fbprophet' : [],
       'RL' : [],
    #    'mail_news' : [],
    #    'mail_news_nsi' : [],
    #    'asia_news' : [],
    #    'asia_news_nsi': [],
    #    'youtube_sam' : [],
    #    'youtube_su' : [],
    #    'youtube_han' : [],
       'close' : []}

total_table = pd.DataFrame(dic)

In [8]:
total_table.columns

Index(['code', 'date', 'lstm', 'arima', 'fbprophet', 'RL', 'close'], dtype='object')

In [9]:
total_table

Empty DataFrame
Columns: [code, date, lstm, arima, fbprophet, RL, close]
Index: []

## LSTM 예측결과

### 사용 데이터 로드 및 전처리

In [10]:
start_date = (datetime.datetime.now() - datetime.timedelta(40)).strftime("%Y%m%d")
end_date = datetime.datetime.now().strftime("%Y%m%d")
lstm = money_sur('068270', start_date, end_date)

In [11]:
lstm = lstm.set_index('Date')

In [12]:
lstm.head()

              Open    High     Low   Close  ...    PBR   EPS  DIV  DPS
Date                                        ...
2021-08-27  285000  297000  282500  294500  ...  12.14  3756  0.0    0
2021-08-30  297500  300500  290500  291000  ...  11.99  3756  0.0    0
2021-08-31  292500  294000  288000  293000  ...  12.08  3756  0.0    0
2021-09-01  293000  295500  289000  290500  ...  11.97  3756  0.0    0
2021-09-02  288500  292500  286500  288000  ...  11.87  3756  0.0    0

[5 rows x 12 columns]

In [13]:
# 스케일링
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()
lstm_sc = sc.fit_transform(lstm)

In [14]:
scale_cols = lstm.columns
lstm_sc_df = pd.DataFrame(lstm_sc, columns=[scale_cols], index=lstm.index)

In [15]:
lstm_sc_df.head()

                Open      High       Low     Close  ...       PBR  EPS  DIV  DPS
Date                                                ...
2021-08-27  0.841772  0.952055  0.896774  1.000000  ...  1.000000  0.0  0.0  0.0
2021-08-30  1.000000  1.000000  1.000000  0.956522  ...  0.953988  0.0  0.0  0.0
2021-08-31  0.936709  0.910959  0.967742  0.981366  ...  0.981595  0.0  0.0  0.0
2021-09-01  0.943038  0.931507  0.980645  0.950311  ...  0.947853  0.0  0.0  0.0
2021-09-02  0.886076  0.890411  0.948387  0.919255  ...  0.917178  0.0  0.0  0.0

[5 rows x 12 columns]

In [16]:
for i in scale_cols:
  for s in range(1, 11):  
    lstm_sc_df[(i+'shift_{}'.format(s),)] = lstm_sc_df[(i,)].shift(s)

In [17]:
lstm_sc_df.dropna()

                Open      High       Low  ... DPSshift_8 DPSshift_9 DPSshift_10
Date                                      ...
2021-09-10  0.645570  0.595890  0.677419  ...        0.0        0.0         0.0
2021-09-13  0.607595  0.541096  0.612903  ...        0.0        0.0         0.0
2021-09-14  0.544304  0.513699  0.612903  ...        0.0        0.0         0.0
2021-09-15  0.601266  0.657534  0.677419  ...        0.0        0.0         0.0
2021-09-16  0.727848  0.664384  0.690323  ...        0.0        0.0         0.0
2021-09-17  0.664557  0.664384  0.735484  ...        0.0        0.0         0.0
2021-09-23  0.867089  0.869863  0.896774  ...        0.0        0.0         0.0
2021-09-24  0.841772  0.794521  0.787097  ...        0.0        0.0         0.0
2021-09-27  0.677215  0.616438  0.696774  ...        0.0        0.0         0.0
2021-09-28  0.588608  0.575342  0.645161  ...        0.0        0.0         0.0
2021-09-29  0.518987  0.513699  0.600000  ...        0.0        0.0         0.0
2021-09-30  0.525316  0.486301  0.593548  ...        0.0        0.0         0.0
2021-10-01  0.500000  0.424658  0.445161  ...        0.0        0.0         0.0
2021-10-05  0.272152  0.178082  0.038710  ...        0.0        0.0         0.0
2021-10-06  0.000000  0.000000  0.000000  ...        0.0        0.0         0.0

[15 rows x 132 columns]

In [18]:
X_test = lstm_sc_df.dropna().drop(columns=scale_cols, axis=1)
y_test = lstm_sc_df.dropna()[['Close']]

X_test= X_test.values
y_test = y_test.values

In [19]:
X_test

array([[0.67721519, 0.75316456, 0.76582278, ..., 0.        , 0.        ,
        0.        ],
       [0.64556962, 0.67721519, 0.75316456, ..., 0.        , 0.        ,
        0.        ],
       [0.60759494, 0.64556962, 0.67721519, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.52531646, 0.51898734, 0.58860759, ..., 0.        , 0.        ,
        0.        ],
       [0.5       , 0.52531646, 0.51898734, ..., 0.        , 0.        ,
        0.        ],
       [0.2721519 , 0.5       , 0.52531646, ..., 0.        , 0.        ,
        0.        ]])

In [20]:
X_test_t = X_test.reshape(X_test.shape[0], 10, 12)

### 모델 로드

In [21]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Conv1D, Lambda
from tensorflow.keras.losses import Huber
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

model = Sequential()

model.add(LSTM(64,
               input_shape = (12, 12),
               return_sequences= True))
model.add(LSTM(64,
               return_sequences = False))
model.add(Dense(32, activation = 'tanh'))
model.add(Dense(1))

lstm_path = '/content/drive/My Drive/Final PJT - 업빛투/Regression/LSTM/'
cel_lstm = 'lstm_cel.h5'

model.load_weights(lstm_path+cel_lstm)

### 모델 결과

In [22]:
pred = model.predict(X_test_t)

WARNING:tensorflow:Model was constructed with shape (None, 12, 12) for input KerasTensor(type_spec=TensorSpec(shape=(None, 12, 12), dtype=tf.float32, name='lstm_input'), name='lstm_input', description="created by layer 'lstm_input'"), but it was called on an input with incompatible shape (None, 10, 12).

In [23]:
pred.shape, y_test.shape

((15, 1), (15, 1))

In [24]:
pred_act = reverse_min_max_scaling(lstm['Close'], pred)

In [25]:
total_table['date'] = lstm.index[-10:]
total_table['lstm'] = pred_act[-10:]
total_table['close'] = lstm.Close[-10:].values.reshape(-1,1)
total_table['code'] = '068270'
total_table['change'] = lstm.Change[-10:].values.reshape(-1,1)

In [26]:
total_table

     code       date           lstm  arima  fbprophet  RL   close    change
0  068270 2021-09-17  272602.089137    NaN        NaN NaN  275500  0.031835
1  068270 2021-09-23  276749.294788    NaN        NaN NaN  284500  0.032668
2  068270 2021-09-24  286227.861822    NaN        NaN NaN  274500 -0.035149
3  068270 2021-09-27  277937.600940    NaN        NaN NaN  267500 -0.025501
4  068270 2021-09-28  272459.640950    NaN        NaN NaN  263500 -0.014953
5  068270 2021-09-29  265030.450761    NaN        NaN NaN  261000 -0.009488
6  068270 2021-09-30  259336.452991    NaN        NaN NaN  259500 -0.005747
7  068270 2021-10-01  260971.315593    NaN        NaN NaN  248000 -0.044316
8  068270 2021-10-05  258627.733916    NaN        NaN NaN  218000 -0.120968
9  068270 2021-10-06  236828.355953    NaN        NaN NaN  214000 -0.018349

## arima 예측결과

In [27]:
end_date = datetime.datetime.now().strftime("%Y%m%d")
samsung_df = money_sur('068270', '2018', end_date)

In [28]:
df = samsung_df[['Date','Close']]
df.columns = ['Date', 'Price']

In [29]:
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm
# 학습, 테스트 데이터 분리
for ru in range(-10,0):
    rus = ru+1
    train = df[:ru]
    test = df[ru:]

    model = ARIMA(train.Price.values, order = (3,1,2))
    model_fit = model.fit(trend = 'nc', full_output = True, disp = True)

    fore = model_fit.forecast(steps=1) # 오늘 예측

    # 오늘 예측 데이터
    pred_arima_y = fore[0].tolist()

    # 실제 오늘 데이터 
    test_y = test.Price.values

    # # 신뢰구간
    # # 예측 데이터 최소값
    # pred_y_lower = []
    # # 예측 데이터 최대값
    # pred_y_upper = []

    # for lower_upper in fore[2]:
    #     lower = lower_upper[0]
    #     upper = lower_upper[1]
    #     pred_y_lower.append(lower)
    #     pred_y_upper.append(upper)
    if rus == 0:
        total_table['arima'].iloc[ru:] = pred_arima_y
    else:
        total_table['arima'].iloc[ru:rus] = pred_arima_y

print(model_fit.summary())

                             ARIMA Model Results
==============================================================================
Dep. Variable:                    D.y   No. Observations:                  924
Model:                 ARIMA(3, 1, 2)   Log Likelihood               -9615.143
Method:                       css-mle   S.D. of innovations           7998.753
Date:                Wed, 06 Oct 2021   AIC                          19242.286
Time:                        02:24:05   BIC                          19271.259
Sample:                             1   HQIC                         19253.340

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1.D.y      1.6324      0.233      7.011      0.000       1.176       2.089
ar.L2.D.y     -0.7105      0.194     -3.665      0.000      -1.090      -0.331
ar.L3.D.y     -0.0690      0.038     -1.809      0.071      -0.144       0.006
ma.L1.D.y     -1.6958      0.232     -7.324      0.000      -2.150      -1.242
ma.L2.D.y      0.8217      0.185      4.433      0.000       0.458       1.185
                                    Roots
=============================================================================
                  Real          Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1            1.0085           -0.4001j            1.0849           -0.0601
AR.2            1.0085           +0.4001j            1.0849            0.0601
AR.3          -12.3203           -0.0000j           12.3203           -0.5000
MA.1            1.0319           -0.3901j            1.1032           -0.0575
MA.2            1.0319           +0.3901j            1.1032            0.0575
-----------------------------------------------------------------------------

In [30]:
total_table

     code       date           lstm  ...  RL   close    change
0  068270 2021-09-17  272602.089137  ... NaN  275500  0.031835
1  068270 2021-09-23  276749.294788  ... NaN  284500  0.032668
2  068270 2021-09-24  286227.861822  ... NaN  274500 -0.035149
3  068270 2021-09-27  277937.600940  ... NaN  267500 -0.025501
4  068270 2021-09-28  272459.640950  ... NaN  263500 -0.014953
5  068270 2021-09-29  265030.450761  ... NaN  261000 -0.009488
6  068270 2021-09-30  259336.452991  ... NaN  259500 -0.005747
7  068270 2021-10-01  260971.315593  ... NaN  248000 -0.044316
8  068270 2021-10-05  258627.733916  ... NaN  218000 -0.120968
9  068270 2021-10-06  236828.355953  ... NaN  214000 -0.018349

[10 rows x 8 columns]

## fbprophet 예측

In [31]:
end_date = datetime.datetime.now().strftime("%Y%m%d")
samsung_df = money_sur('068270', start = '20180101', end = end_date)
df1 = samsung_df[['Date','Close']]
df1.columns = ['ds', 'y']

from fbprophet import Prophet

prophet = Prophet(seasonality_mode = 'multiplicative',
                 yearly_seasonality=True, 
                 weekly_seasonality=True,
                 daily_seasonality=True,
                 changepoint_prior_scale=0.6)

prophet.fit(df1)

# 10일단위로 예측값을 가져옴
future_data = prophet.make_future_dataframe(periods = 10, freq = 'd')
forecast_data = prophet.predict(future_data)

In [32]:
list(total_table.date.values)

[numpy.datetime64('2021-09-17T00:00:00.000000000'),
 numpy.datetime64('2021-09-23T00:00:00.000000000'),
 numpy.datetime64('2021-09-24T00:00:00.000000000'),
 numpy.datetime64('2021-09-27T00:00:00.000000000'),
 numpy.datetime64('2021-09-28T00:00:00.000000000'),
 numpy.datetime64('2021-09-29T00:00:00.000000000'),
 numpy.datetime64('2021-09-30T00:00:00.000000000'),
 numpy.datetime64('2021-10-01T00:00:00.000000000'),
 numpy.datetime64('2021-10-05T00:00:00.000000000'),
 numpy.datetime64('2021-10-06T00:00:00.000000000')]

In [33]:
total_table['fbprophet'] = forecast_data[forecast_data['ds'].isin(list(total_table.date.values))]['yhat'].values

In [34]:
total_table

     code       date           lstm  ...  RL   close    change
0  068270 2021-09-17  272602.089137  ... NaN  275500  0.031835
1  068270 2021-09-23  276749.294788  ... NaN  284500  0.032668
2  068270 2021-09-24  286227.861822  ... NaN  274500 -0.035149
3  068270 2021-09-27  277937.600940  ... NaN  267500 -0.025501
4  068270 2021-09-28  272459.640950  ... NaN  263500 -0.014953
5  068270 2021-09-29  265030.450761  ... NaN  261000 -0.009488
6  068270 2021-09-30  259336.452991  ... NaN  259500 -0.005747
7  068270 2021-10-01  260971.315593  ... NaN  248000 -0.044316
8  068270 2021-10-05  258627.733916  ... NaN  218000 -0.120968
9  068270 2021-10-06  236828.355953  ... NaN  214000 -0.018349

[10 rows x 8 columns]

In [35]:
# total_table.to_csv('./total_table.csv', index =False)

## RL 결과

### 데이터 로딩 및 함수 로딩

In [36]:
import time
import copy
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
from torch.autograd import Variable
import torch.optim as optim
import torch.nn.functional as F

# 금융정보 조회하기
def dataset_loaderKR(stock_name, start, end, train_ratio=0.8):
    start_date = start
    end_date = end
    sample_code = stock_name

    dataset = fdr.DataReader(sample_code, start = start_date, end = end_date )
    dataset = dataset.reset_index()
    df = stock.get_market_fundamental_by_date(fromdate=start_date, todate=end_date, ticker=sample_code)
    df = df.reset_index()
    df.columns = ['Date','BPS', 'PER', 'PBR', 'EPS', 'DIV', 'DPS']
    data = pd.merge(dataset, df, on='Date')
    date_split = data.index[int(train_ratio*len(data))] 

    return data[:date_split], data[date_split:], date_split


# ENV 설정
class Environment1:
    def __init__(self, data, history_t=90):
        self.data = data
        self.history_t = history_t
        self.reset()
        
    def reset(self):
        self.t = 0
        self.done = False
        self.profits = 0
        self.positions = []
        self.position_value = 0
        self.history = [0 for _ in range(self.history_t)]
        return [self.position_value] + self.history # obs

    def step(self, act):
        reward = 0
        
        # action
        # 0: Idle
        # 1: 매수
        # 2: 매도
        if act == 1: #매수
            self.positions.append(self.data.iloc[self.t, :]['Close'])
        elif act == 2: # 매도
            if len(self.positions) == 0:
                reward = -1
            else:
                profits = 0
                for p in self.positions:
                    profits += (self.data.iloc[self.t, :]['Close'] - p)
                reward += profits
                self.profits += profits
                self.positions = []
        
        # set next time
        self.t += 1
        
        self.position_value = 0
        for p in self.positions:
            self.position_value += (self.data.iloc[self.t, :]['Close'] - p)
        self.history.pop(0)
        self.history.append(self.data.iloc[self.t, :]['Close'] - self.data.iloc[(self.t-1), :]['Close'])
        if (self.t==len(self.data)-1):
            self.done=True
        # clipping reward
        if reward > 0:
            reward = 1
        elif reward < 0:
            reward = -1
        #print ("t={%d}, done={%str}"%(self.t,self.done))
        return [self.position_value] + self.history, reward, self.done # obs, reward, done

# MODEL
class Q_Network(nn.Module):
    def __init__(self,obs_len,hidden_size,actions_n):
        super(Q_Network,self).__init__()
        self.fc_val = nn.Sequential(
            nn.Linear(obs_len, hidden_size),
            nn.ReLU(),
            nn.Linear(hidden_size, hidden_size),
            nn.ReLU(),
            nn.Linear(hidden_size, actions_n)
        )
    def forward(self,x):
        h = self.fc_val(x)
        return (h)

In [37]:
(train, test, date_split) = dataset_loaderKR('068270', start = '20180101', end = end_date)

### 모델 로딩 및 결과

In [38]:
rl_path = '/content/drive/My Drive/Final PJT - 업빛투/Regression/RL/셀트리온_결과/'
cel_rl = 'celltrion_rl.h5'

In [39]:
# 모델 로딩
model = torch.load(rl_path+cel_rl)

test_env = Environment1(test)
pobs = test_env.reset()
test_acts = []
test_rewards = []

for _ in range(len(test_env.data)-1):
    pact = model(torch.from_numpy(np.array(pobs, dtype=np.float32).reshape(1, -1)))
    pact = np.argmax(pact.data)
    test_acts.append(pact.item())
            
    obs, reward, done = test_env.step(pact.numpy())
    test_rewards.append(reward)

    pobs = obs

# sell remaining stocks
profits = 0
for p in test_env.positions:
	profits += (test_env.data.iloc[test_env.t, :]['Close'] - p)

test_env.profits += profits
test_env.positions = []

test_profits = test_env.profits
pact = model(torch.from_numpy(np.array(pobs, dtype=np.float32).reshape(1, -1)))
pact = np.argmax(pact.data)
next_action = pact.item()
test['Action'] = test_acts + [next_action]


print( )
print( test )
print( )
print("결과")
print( "손익결과 $%.2f" % round(test_profits,2) )
# 0: Idle
# 1: 매수
# 2: 매도

          Date    Open    High     Low  ...   EPS  DIV  DPS  Action
740 2021-01-06  357000  359500  353500  ...  2196  0.0    0       2
741 2021-01-07  355000  359500  351000  ...  2196  0.0    0       2
742 2021-01-08  359500  370000  356000  ...  2196  0.0    0       2
743 2021-01-11  377000  386500  367000  ...  2196  0.0    0       0
744 2021-01-12  380500  386999  370000  ...  2196  0.0    0       2
..         ...     ...     ...     ...  ...   ...  ...  ...     ...
921 2021-09-29  259500  265000  259500  ...  3756  0.0    0       2
922 2021-09-30  260000  263000  259000  ...  3756  0.0    0       0
923 2021-10-01  258000  258500  247500  ...  3756  0.0    0       2
924 2021-10-05  240000  240500  216000  ...  3756  0.0    0       1
925 2021-10-06  218500  227500  213000  ...  3756  0.0    0       0

[186 rows x 14 columns]

결과
손익결과 $1000.00

In [40]:
test['Action'] = np.where(test['Action'] == 1,1,
                          np.where(test['Action'] == 2,-1,0))

In [41]:
test['Action'][-10:]

916   -1
917   -1
918    0
919    0
920    0
921   -1
922    0
923   -1
924    1
925    0
Name: Action, dtype: int64

In [42]:
total_table['RL'] = test[test['Date'].isin(list(total_table.date.values))]['Action'].values

In [43]:
total_table

     code       date           lstm  ...  RL   close    change
0  068270 2021-09-17  272602.089137  ...  -1  275500  0.031835
1  068270 2021-09-23  276749.294788  ...  -1  284500  0.032668
2  068270 2021-09-24  286227.861822  ...   0  274500 -0.035149
3  068270 2021-09-27  277937.600940  ...   0  267500 -0.025501
4  068270 2021-09-28  272459.640950  ...   0  263500 -0.014953
5  068270 2021-09-29  265030.450761  ...  -1  261000 -0.009488
6  068270 2021-09-30  259336.452991  ...   0  259500 -0.005747
7  068270 2021-10-01  260971.315593  ...  -1  248000 -0.044316
8  068270 2021-10-05  258627.733916  ...   1  218000 -0.120968
9  068270 2021-10-06  236828.355953  ...   0  214000 -0.018349

[10 rows x 8 columns]

## News 긍부정 결과
- '매일경제', '아시아경제'

In [44]:
# corp_list = ['samsung', 'hyundai', 'lg', 'sk', 'celltrion'] 참고용
stock_num_list = ['005930', '005380', '051910', '000660', '068270']
news = ['maeil_news_craw', 'asia_news_craw']
start = (datetime.datetime.now() - datetime.timedelta(20)).strftime("%Y-%m-%d").replace('-','')
end = datetime.datetime.now().strftime("%Y-%m-%d").replace('-', '')

In [45]:
# news_df = pd.read_csv('/content/drive/My Drive/Final PJT - 업빛투/감성분석/Final Data/1. samsung_score.csv') # 연습용

### 관련 함수 및 패키지 로드

In [46]:
import pymysql
import sys
import re

In [47]:
# 블로그에서 가져온 기본적인 한국어 긍부정 텍스트 목록
with open('/content/drive/My Drive/Final PJT - 업빛투/감성분석/data/positive_words_self.txt', encoding='utf-8') as pos_blog:
    positive_blog = pos_blog.readlines()
positive_blog = [pos_blog.replace('\n', '') for pos_blog in positive_blog]
with open('/content/drive/My Drive/Final PJT - 업빛투/감성분석/data/negative_words_self.txt', encoding='utf-8') as neg_blog:
    negative_blog = neg_blog.readlines()
negative_blog = [neg_blog.replace('\n', '') for neg_blog in negative_blog]

# KOSELF 감성 어휘 사전
with open('/content/drive/My Drive/Final PJT - 업빛투/감성분석/data/KOSELF_pos.txt', encoding='utf-8') as pos:
    positive = pos.readlines()
positive = [pos.replace('\n', '') for pos in positive]
with open('/content/drive/My Drive/Final PJT - 업빛투/감성분석/data/KOSELF_neg.txt', encoding='utf-8') as neg:
    negative = neg.readlines()
negative = [neg.replace('\n', '') for neg in negative]

In [48]:
def news_db(news, stock):
    db = pymysql.connect(
            user='root', 
            passwd='1234', 
            host='3.35.70.166', 
            db='proj', 
            charset = 'utf8'
        )

    cursor = db.cursor(pymysql.cursors.DictCursor)
    news1 = news + '_news_craw'

    sql = "select * from {0}_{1} where (length(date)=10) and (date between {2}00 and {3}23)".format(news1, stock, start, end)
    cursor.execute(sql)
    result = cursor.fetchall()

    # DataFrame으로 변경
    df = pd.DataFrame(result)

    db.close()

    df.rename(columns={'date': 'datetime'}, inplace=True)

    # DataFrame 형태를 통일하기 위해 date 컬럼 추가
    df['date'] = df['datetime'].str[0:4] + '-' + df['datetime'].str[4:6] + '-' + df['datetime'].str[6:8]
    df['date'] = pd.to_datetime(df['date'])

    # 결측치 제거 → 데이터 로드 시 완료했기 때문에 그다지 필요하지 않은 과정
    df = df.dropna()

    # 시간순으로 정렬
    df.sort_values('datetime', inplace=True)
    df.reset_index(inplace=True, drop=True)

    ### 4) Holidays
    db = pymysql.connect(user='root',
                         passwd='1234', 
                         host='3.35.70.166', 
                         db='proj',
                         charset='utf8')

    cursor = db.cursor(pymysql.cursors.DictCursor)

    # 4-1) 주말 및 공휴일 데이터
    sql = "select * from holidays"
    cursor.execute(sql)
    result = cursor.fetchall()

    holidays = pd.DataFrame(result)

    db.close()

    holidays['date'] = pd.to_datetime(holidays['date'])

    url = 'https://raw.githubusercontent.com/chaerui7967/stock_predict_news_and_youtube/master/Sentiment_Analysis/data/stopwords_ver1.txt'
    stopwords = list(pd.read_csv(url, header=None)[0])

    # Stop Words List에 각 매체명 추가
    except_media_list = ['매일경제', '매일', '경제', 'maeil', 'MK', 'mk',
                         '아시아경제', '아시아', 'Asia', 'ASIA', 'asia',
                         '삼프로TV', '삼프로', 'TV',
                         '슈카월드', '슈카', '월드'
                         '한국경제TV', '한국']
    for word in except_media_list:
        stopwords.append(word)
    
    #### 2. Preprocessing
    '''감성 어휘 사전 : negative / positive
       뉴스 데이터 : samsung / hyundai / lg / sk
       주식 데이터 : stock_samsung / stock_hyundai / stock_lg / stock_sk
       공휴일 데이터 : holidays'''
    
    
    ### 1) 뉴스 데이터 날짜 조정
    
    ## 1-1)업로드 시각 컬럼 추가
    df['time'] = df['datetime'].str[-2:]
    
    ## 1-2) 전일 15시 ~ 금일 15시로 날짜 조정
    after_market = ['15', '16', '17', '18', '19', '20', '21', '22', '23']

    for j in range(len(df['time'])):
        if df['time'][j] in after_market:
            df['date'][j] += datetime.timedelta(1)
        else:
            pass
    
    ## 1-3) 텍스트 전처리
    # \n, \t, \r 제거
    df['text'] = df['text'].str.replace('[\n|\t|\r]', '')
    df['text'] = df['text'].str.replace('\[|\]', '')
    df['text'] = df['text'].str.replace('\<.*\>', '')
    df['text'] = df['text'].str.replace('\\', '')
    df['text'] = df['text'].str.replace('이미지', '')


    ### 2) 주말 및 공휴일 제외
    
    ## 2-1) 주말 및 공휴일만 추출
    market_closed =holidays[holidays['holiday']=="O"].reset_index(drop=True)
    
    ## 2-3) 휴장일 List 생성
    market_closed_list = list(market_closed['date'])
    
    ## 2-4) iteration limit 조정
    limit_number = 15000
    sys.setrecursionlimit(limit_number)
    
    
    while len(df[df['date'].isin(market_closed_list)]['date']) != 0:
        for hoil in df[df['date'].isin(market_closed_list)]['date'].index:
            df['date'][hoil] += datetime.timedelta(1)
    
    ### 3) Tokenization 컬럼 추가
    
    df['Tokenization'] = 0
    rows = df.shape[0]
    for row in range(rows):
        hangeul = re.compile('[^ ㄱ-ㅣ 가-힣]')                                    # 정규 표현식 → 한글 추출 규칙 : 띄어쓰기(1개)를 포함한 한글
        result = hangeul.sub('', df['text'][row])   # 위에 설정한 hangeul 규칙을 text에 적용
        okt = Okt()                                                               # 형태소 추출
        nouns = okt.nouns(df['text'][row])
        nouns = [x for x in nouns if len(x) > 1]                                  # 한 글자 키워드 제거
        nouns = [x for x in nouns if x not in stopwords]                          # 불용어 제거
        
        corpus = " ".join(nouns)                                                  # List를 String으로 변환
        df['Tokenization'][row] = corpus


    # 점수 산출

    df['Positive_Score'] = 0
    df['Negative_Score'] = 0
    df['Ratio'] = 0.1
    df['Pred'] = 0
    df['NSI'] = 0.1
    
    for score in range(len(df)):
        pos_score = 0 ; neg_score = 0
        
        for token in range(len(df['Tokenization'][score].split())):
            if df['Tokenization'][score].split()[token] in positive:
                pos_score += 1
            elif df['Tokenization'][score].split()[token] in negative:
                neg_score += 1
            else:
                pass
        
        df['Positive_Score'][score] = pos_score
        df['Negative_Score'][score] = neg_score
        
        # 긍정과 부정의 비율
        if (pos_score==0) and (neg_score==0):
            df['Ratio'][score] = 0.5   # 둘 다 0일 경우에는 긍정으로 가정
        else:
            df['Ratio'][score] = pos_score / (pos_score + neg_score)
        
        # 예측 결과
        if df['Ratio'][score]>=0.5:
            df['Pred'][score] = 1
        else:
            df['Pred'][score] = -1
        
        # 뉴스심리지수(NSI) 계산
        if (pos_score==0) and (neg_score==0):
            df['NSI'][score] = 101
        else:
            df['NSI'][score] = (pos_score - neg_score) / (pos_score + neg_score) * 100 + 100
    
    return df

### 매일경제

In [49]:
# mail_df = news_df[(news_df['news'] == '매일경제') & (news_df['st_cd'] == 5930)]

In [50]:
mail_df = news_db('maeil', '068270')

In [51]:
mail_df.head()

   st_n   st_cd  news    datetime  ... Negative_Score  Ratio Pred    NSI
0  셀트리온  068270  매일경제  2021091619  ...              5  0.000   -1    0.0
1  셀트리온  068270  매일경제  2021091620  ...              0  1.000    1  200.0
2  셀트리온  068270  매일경제  2021091620  ...              0  0.500    1  101.0
3  셀트리온  068270  매일경제  2021091717  ...              7  0.125   -1   25.0
4  셀트리온  068270  매일경제  2021091822  ...              0  0.500    1  101.0

[5 rows x 15 columns]

In [52]:
mail_ratio = mail_df[mail_df['date'].isin(list(total_table.date.values))][['date','Ratio']]
mail_nsi = mail_df[mail_df['date'].isin(list(total_table.date.values))][['date','NSI']]

In [53]:
mail_ratio = mail_ratio.groupby(['date']).mean().reset_index()
mail_nsi = mail_nsi.groupby(['date']).mean().reset_index()

In [54]:
mail_ratio.columns = ['date', 'mail_news']
mail_nsi.columns = ['date', 'mail_news_nsi']

In [55]:
total_table = pd.merge(total_table, mail_ratio, on='date', how='left')
total_table = pd.merge(total_table, mail_nsi, on='date', how='left')

In [56]:
total_table = total_table[['code', 'date', 'lstm', 'arima', 'fbprophet', 'RL', 'mail_news', 'mail_news_nsi', 'close', 'change']]

In [57]:
total_table

     code       date           lstm  ...  mail_news_nsi   close    change
0  068270 2021-09-17  272602.089137  ...     100.333333  275500  0.031835
1  068270 2021-09-23  276749.294788  ...      93.222222  284500  0.032668
2  068270 2021-09-24  286227.861822  ...     133.333333  274500 -0.035149
3  068270 2021-09-27  277937.600940  ...      66.666667  267500 -0.025501
4  068270 2021-09-28  272459.640950  ...      57.142857  263500 -0.014953
5  068270 2021-09-29  265030.450761  ...      91.666667  261000 -0.009488
6  068270 2021-09-30  259336.452991  ...     100.000000  259500 -0.005747
7  068270 2021-10-01  260971.315593  ...            NaN  248000 -0.044316
8  068270 2021-10-05  258627.733916  ...      91.428571  218000 -0.120968
9  068270 2021-10-06  236828.355953  ...      28.571429  214000 -0.018349

[10 rows x 10 columns]

### 아시아

In [58]:
# asia_df = news_df[(news_df['news'] == '아시아경제') & (news_df['st_cd'] == 5930)]

In [59]:
asia_df = news_db('asia', '068270')

In [60]:
asia_df.tail()

    st_n   st_cd   news    datetime  ... Negative_Score     Ratio Pred        NSI
43  셀트리온  068270  아시아경제  2021100510  ...             11  0.000000   -1   0.000000
44  셀트리온  068270  아시아경제  2021100511  ...              6  0.400000   -1  80.000000
45  셀트리온  068270  아시아경제  2021100511  ...              9  0.000000   -1   0.000000
46  셀트리온  068270  아시아경제  2021100513  ...              8  0.111111   -1  22.222222
47  셀트리온  068270  아시아경제  2021100517  ...             11  0.083333   -1  16.666667

[5 rows x 15 columns]

In [61]:
asia_ratio = asia_df[asia_df['date'].isin(list(total_table.date.values))][['date','Ratio']]
asia_nsi = asia_df[asia_df['date'].isin(list(total_table.date.values))][['date','NSI']]

asia_ratio = asia_ratio.groupby(['date']).mean().reset_index()
asia_nsi = asia_nsi.groupby(['date']).mean().reset_index()

asia_ratio.columns = ['date', 'asia_news']
asia_nsi.columns = ['date', 'asia_news_nsi']

In [62]:
total_table = pd.merge(total_table, asia_ratio, on='date', how='left')
total_table = pd.merge(total_table, asia_nsi, on='date', how='left')

In [63]:
# 컬럼 리셋
total_table = total_table[['code', 'date', 'lstm', 'arima', 'fbprophet', 'RL', 'mail_news', 'mail_news_nsi', 'asia_news', 'asia_news_nsi', 'close', 'change']]

In [64]:
total_table

     code       date           lstm  ...  asia_news_nsi   close    change
0  068270 2021-09-17  272602.089137  ...      61.328205  275500  0.031835
1  068270 2021-09-23  276749.294788  ...      79.215909  284500  0.032668
2  068270 2021-09-24  286227.861822  ...     106.218254  274500 -0.035149
3  068270 2021-09-27  277937.600940  ...     121.428571  267500 -0.025501
4  068270 2021-09-28  272459.640950  ...            NaN  263500 -0.014953
5  068270 2021-09-29  265030.450761  ...       0.000000  261000 -0.009488
6  068270 2021-09-30  259336.452991  ...       0.000000  259500 -0.005747
7  068270 2021-10-01  260971.315593  ...      60.330065  248000 -0.044316
8  068270 2021-10-05  258627.733916  ...      55.517027  218000 -0.120968
9  068270 2021-10-06  236828.355953  ...      16.666667  214000 -0.018349

[10 rows x 12 columns]

In [65]:
# total_table.to_csv('total_table.csv', index=False)

## youtube 긍부정 결과
- ['한국경제TV', '슈카월드', '삼프로TV_경제의신과함께']

In [66]:
# # 이전 라벨링 데이터
# youtube_df = pd.read_csv('/content/drive/My Drive/Final PJT - 업빛투/감성분석/data/youtube_naver_labeling.csv')

In [67]:
# youtube_df.ch_nm.unique()

### youtube 데이터 전체 로드

In [68]:
def youtube_db():

    com_list = {'하이닉스' : '000660',
            '현대차' : '005380',
            '삼성전자' : '005930',
            'LG화학' : '051910',
            '셀트리온' : '068270'}
    media_list = {'youtube_한국경제_':'hk_',
                'youtube_삼프로_':'sampro_',
                'youtube_슈카_':'suka_'}
    df_list = []
    for n,m in media_list.items():
        for i,j in com_list.items():

            db = pymysql.connect(
                user='root', 
                passwd='1234', 
                host='3.35.70.166', 
                db='proj', 
                charset = 'utf8'
            )

            cursor = db.cursor(pymysql.cursors.DictCursor)
            sql = "select * from youtube_"+ m + j +" where length(date) = 10"
            
            cursor.execute(sql)

            result = cursor.fetchall()

            # 데이터 프레임으로 변경
            globals() ['df_'+ m + j ] = pd.DataFrame(result)
            print('df_'+ m + j)
            df_list.append(globals() ['df_'+ m + j ])
            
            db.close()
    
    # print(df_list)
    df_total = pd.concat(df_list)
    
    df_total.rename(columns={'date': 'datetime'}, inplace=True)
    # DataFrame 형태를 통일하기 위해 date 컬럼 추가
    df_total['date'] = df_total['datetime'].str[0:4] + '-' + df_total['datetime'].str[4:6] + '-' + df_total['datetime'].str[6:8]
    df_total['date'] = pd.to_datetime(df_total['date'])

    # 시간순으로 정렬
    df_total.reset_index(inplace=True, drop=True)

    ### 4) Holidays
    db = pymysql.connect(user='root',
                         passwd='1234', 
                         host='3.35.70.166', 
                         db='proj',
                         charset='utf8')

    cursor = db.cursor(pymysql.cursors.DictCursor)

    # 4-1) 주말 및 공휴일 데이터
    sql = "select * from holidays"
    cursor.execute(sql)
    result = cursor.fetchall()

    holidays = pd.DataFrame(result)
    db.close()

    holidays['date'] = pd.to_datetime(holidays['date'])

    ## 2-1) 주말 및 공휴일만 추출
    market_closed =holidays[holidays['holiday']=="O"].reset_index(drop=True)
    
    ## 2-3) 휴장일 List 생성
    market_closed_list = list(market_closed['date'])
    
    ## 2-4) iteration limit 조정
    limit_number = 15000
    sys.setrecursionlimit(limit_number)
    
    
    while len(df_total[df_total['date'].isin(market_closed_list)]['date']) != 0:
        for hoil in df_total[df_total['date'].isin(market_closed_list)]['date'].index:
            df_total['date'][hoil] += datetime.timedelta(1)

    # 간단한 전처리
    df_total['text'] = df_total['text'].str.replace('\[|\]','')
    df_total['text'] = df_total['text'].str.replace('[a-z]','')
    df_total['text'] = df_total['text'].str.replace('[A-Z]','')
    df_total['text'] = df_total['text'].str.replace('으','')
    df_total['text'] = df_total['text'].str.replace('음악','')
    df_total['text'] = df_total['text'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
    df_total['text'] = df_total['text'].str.replace('^ +', "")

    return df_total

In [69]:
df_total = youtube_db()

df_hk_000660
df_hk_005380
df_hk_005930
df_hk_051910
df_hk_068270
df_sampro_000660
df_sampro_005380
df_sampro_005930
df_sampro_051910
df_sampro_068270
df_suka_000660
df_suka_005380
df_suka_005930
df_suka_051910
df_suka_068270

### 라벨링 패키지 및 모델 로딩

In [70]:
# 라벨 훈련 데이터
X_train = []
aa = pd.read_csv('/content/drive/My Drive/Final PJT - 업빛투/감성분석/youtube/train_label.csv').drop('Unnamed: 0',1)
aa.x = aa.x.str.replace('\[|\]','')
aa.x = aa.x.str.replace("'","")
aa.x = aa.x.str.replace(" ","")

for i in aa.x:
    temp = i.split(',')
    X_train.append(temp)

In [71]:
len(X_train)

145393

In [72]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import load_model
tokenizer = Tokenizer(19196)
tokenizer.fit_on_texts(X_train)
url = 'https://raw.githubusercontent.com/chaerui7967/stock_predict_news_and_youtube/master/Sentiment_Analysis/data/stopwords_ver1.txt'
stopwords = list(pd.read_csv(url, header=None)[0])

In [73]:
max_len = 200

In [74]:
# loaded_model = load_model('./best_model.h5')

In [75]:
loaded_model = load_model('/content/drive/My Drive/Final PJT - 업빛투/감성분석/youtube/best_model.h5')

In [76]:
def sentiment_predict(new_sentence):
    new_sentence = okt.morphs(new_sentence, stem=True) # 토큰화
    new_sentence = [word for word in new_sentence if not word in stopwords] # 불용어 제거
    encoded = tokenizer.texts_to_sequences([new_sentence]) # 정수 인코딩
    pad_new = pad_sequences(encoded, maxlen = max_len) # 패딩
    score = float(loaded_model.predict(pad_new)) # 예측

    if (score > 0.5):
        # print("{:.2f}% 확률로 긍정 리뷰\n".format(score * 100))
        return score, 1
    elif (score == 0.5):
        return score, 0
    else:
        # print("{:.2f}% 확률로 부정 리뷰\n".format((1 - score) * 100))
        return score, -1

In [77]:
# sentiment_predict('꿀잼') 연습

### 삼프로

In [78]:
sampro_df = df_total[(df_total.ch_nm == '삼프로TV_경제의신과함께') & (df_total.st_cd == '068270')]

In [79]:
sampro_df = sampro_df[sampro_df.date.isin(total_table.date)]

In [80]:
s_text = sampro_df.text.values

In [81]:
scores = [] # 긍정 확률
for i in s_text:
    score, _ = sentiment_predict(i)
    scores.append(score)

In [82]:
len(sampro_df),len(scores)

(12, 12)

In [83]:
sampro_df['sampro_youtube'] = np.array(scores).reshape(-1,1)
sampro_score = sampro_df.groupby(['date']).mean().reset_index()[['date','sampro_youtube']]

In [84]:
total_table = pd.merge(total_table, sampro_score, on='date',how='left')

In [85]:
total_table

     code       date           lstm  ...   close    change  sampro_youtube
0  068270 2021-09-17  272602.089137  ...  275500  0.031835             NaN
1  068270 2021-09-23  276749.294788  ...  284500  0.032668        0.082856
2  068270 2021-09-24  286227.861822  ...  274500 -0.035149        0.366168
3  068270 2021-09-27  277937.600940  ...  267500 -0.025501        0.110356
4  068270 2021-09-28  272459.640950  ...  263500 -0.014953        0.172281
5  068270 2021-09-29  265030.450761  ...  261000 -0.009488        0.114135
6  068270 2021-09-30  259336.452991  ...  259500 -0.005747             NaN
7  068270 2021-10-01  260971.315593  ...  248000 -0.044316             NaN
8  068270 2021-10-05  258627.733916  ...  218000 -0.120968        0.141176
9  068270 2021-10-06  236828.355953  ...  214000 -0.018349        0.889712

[10 rows x 13 columns]

### 한국경제

In [86]:
hk_df = df_total[(df_total.ch_nm == '한국경제TV') & (df_total.st_cd == '068270')]

In [87]:
hk_df = hk_df[hk_df.date.isin(total_table.date)]

In [88]:
hk_text = hk_df.text.values

scores = [] # 긍정 확률
for i in hk_text:
    score, _ = sentiment_predict(i)
    scores.append(score)

In [89]:
len(scores), len(hk_df)

(1, 1)

In [90]:
hk_df['hk_youtube'] = np.array(scores).reshape(-1,1)
hk_score = hk_df.groupby(['date']).mean().reset_index()[['date','hk_youtube']]

total_table = pd.merge(total_table, hk_score, on='date',how='left')

### 슈카월드

In [91]:
su_df = df_total[(df_total.ch_nm == '슈카월드') & (df_total.st_cd == '068270')]

su_df = su_df[su_df.date.isin(total_table.date)]

su_text = su_df.text.values

scores = [] # 긍정 확률
for i in su_text:
    score, _ = sentiment_predict(i)
    scores.append(score)

In [92]:
len(su_df),len(scores)

(0, 0)

In [93]:
su_df['suka_youtube'] = np.array(scores).reshape(-1,1)
suka_score = su_df.groupby(['date']).mean().reset_index()[['date','suka_youtube']]

total_table = pd.merge(total_table, suka_score, on='date',how='left')

In [94]:
total_table.columns

Index(['code', 'date', 'lstm', 'arima', 'fbprophet', 'RL', 'mail_news',
       'mail_news_nsi', 'asia_news', 'asia_news_nsi', 'close', 'change',
       'sampro_youtube', 'hk_youtube', 'suka_youtube'],
      dtype='object')

In [95]:
total_table = total_table[['code', 'date', 'lstm', 'arima', 'fbprophet', 'RL', 'mail_news',
       'mail_news_nsi', 'asia_news', 'asia_news_nsi',
       'sampro_youtube', 'hk_youtube', 'suka_youtube', 'close', 'change']]

# 최종결과

In [96]:
total_table

     code       date           lstm  ...  suka_youtube   close    change
0  068270 2021-09-17  272602.089137  ...           NaN  275500  0.031835
1  068270 2021-09-23  276749.294788  ...           NaN  284500  0.032668
2  068270 2021-09-24  286227.861822  ...           NaN  274500 -0.035149
3  068270 2021-09-27  277937.600940  ...           NaN  267500 -0.025501
4  068270 2021-09-28  272459.640950  ...           NaN  263500 -0.014953
5  068270 2021-09-29  265030.450761  ...           NaN  261000 -0.009488
6  068270 2021-09-30  259336.452991  ...           NaN  259500 -0.005747
7  068270 2021-10-01  260971.315593  ...           NaN  248000 -0.044316
8  068270 2021-10-05  258627.733916  ...           NaN  218000 -0.120968
9  068270 2021-10-06  236828.355953  ...           NaN  214000 -0.018349

[10 rows x 15 columns]

In [97]:
while total_table.iloc[-1:].isnull().sum().sum() != 0:
    if total_table.iloc[:1].isnull().sum().sum() != 0:
      for i in range(1, len(total_table)):
        total_table = total_table.fillna(method='pad')
      break
    total_table = total_table.fillna(method='pad')

In [98]:
total_table

     code       date           lstm  ...  suka_youtube   close    change
0  068270 2021-09-17  272602.089137  ...           NaN  275500  0.031835
1  068270 2021-09-23  276749.294788  ...           NaN  284500  0.032668
2  068270 2021-09-24  286227.861822  ...           NaN  274500 -0.035149
3  068270 2021-09-27  277937.600940  ...           NaN  267500 -0.025501
4  068270 2021-09-28  272459.640950  ...           NaN  263500 -0.014953
5  068270 2021-09-29  265030.450761  ...           NaN  261000 -0.009488
6  068270 2021-09-30  259336.452991  ...           NaN  259500 -0.005747
7  068270 2021-10-01  260971.315593  ...           NaN  248000 -0.044316
8  068270 2021-10-05  258627.733916  ...           NaN  218000 -0.120968
9  068270 2021-10-06  236828.355953  ...           NaN  214000 -0.018349

[10 rows x 15 columns]

In [99]:
total_table.to_csv('./total_table.csv', index=False)

In [100]:
total_table = pd.read_csv('./total_table.csv')

In [101]:
total_table_ud = np.round(total_table,2)


for i in range(len(total_table_ud)-1,0,-1):
  if total_table_ud['lstm'].iloc[i] > total_table_ud['lstm'].iloc[i-1]:
    total_table_ud['lstm'].iloc[i] = 1
  else:
    total_table_ud['lstm'].iloc[i] = -1
  
  if total_table_ud['arima'].iloc[i] > total_table_ud['close'].iloc[i-1]:
    total_table_ud['arima'].iloc[i] = 1
  else:
    total_table_ud['arima'].iloc[i] = -1
  
  if total_table_ud['fbprophet'].iloc[i] > total_table_ud['fbprophet'].iloc[i-1]:
    total_table_ud['fbprophet'].iloc[i] = 1
  else:
    total_table_ud['fbprophet'].iloc[i] = -1
  
total_table_ud['mail_news'] = np.where(total_table_ud['mail_news']>0.5,1,
                                       np.where(total_table_ud['mail_news']<0.5,-1,0))

total_table_ud['mail_news_nsi'] = np.where(total_table_ud['mail_news_nsi']>100,1,
                                       np.where(total_table_ud['mail_news_nsi']<100,-1,0))

total_table_ud['asia_news'] = np.where(total_table_ud['asia_news']>0.5,1,
                                       np.where(total_table_ud['asia_news']<0.5,-1,0))

total_table_ud['asia_news_nsi'] = np.where(total_table_ud['asia_news_nsi']>100,1,
                                       np.where(total_table_ud['asia_news_nsi']<100,-1,0))

total_table_ud['sampro_youtube'] = np.where(total_table_ud['sampro_youtube']>0.5,1,
                                       np.where(total_table_ud['sampro_youtube']<0.5,-1,0))

total_table_ud['hk_youtube'] = np.where(total_table_ud['hk_youtube']>0.5,1,
                                       np.where(total_table_ud['hk_youtube']<0.5,-1,0))

total_table_ud['suka_youtube'] = np.where(total_table_ud['suka_youtube']>0.5,1,
                                       np.where(total_table_ud['suka_youtube']<0.5,-1,0))

total_table_ud['change'] = np.where(total_table_ud['change']>0,1,
                                       np.where(total_table_ud['change']<0,-1,0))
total_table_ud.drop('close',1,inplace=True)

In [102]:
total_table_ud

    code        date       lstm  ...  hk_youtube  suka_youtube  change
0  68270  2021-09-17  272602.09  ...           0             0       1
1  68270  2021-09-23       1.00  ...           0             0       1
2  68270  2021-09-24       1.00  ...          -1             0      -1
3  68270  2021-09-27      -1.00  ...          -1             0      -1
4  68270  2021-09-28      -1.00  ...          -1             0      -1
5  68270  2021-09-29      -1.00  ...          -1             0      -1
6  68270  2021-09-30      -1.00  ...          -1             0      -1
7  68270  2021-10-01       1.00  ...          -1             0      -1
8  68270  2021-10-05      -1.00  ...          -1             0      -1
9  68270  2021-10-06      -1.00  ...          -1             0      -1

[10 rows x 14 columns]

In [103]:
total_table_ud.to_csv('./cel_table_ud.csv', index=False)

# 최종 앙상블 결과

In [104]:
total_table

    code        date           lstm  ...  suka_youtube   close    change
0  68270  2021-09-17  272602.089137  ...           NaN  275500  0.031835
1  68270  2021-09-23  276749.294788  ...           NaN  284500  0.032668
2  68270  2021-09-24  286227.861822  ...           NaN  274500 -0.035149
3  68270  2021-09-27  277937.600940  ...           NaN  267500 -0.025501
4  68270  2021-09-28  272459.640950  ...           NaN  263500 -0.014953
5  68270  2021-09-29  265030.450761  ...           NaN  261000 -0.009488
6  68270  2021-09-30  259336.452991  ...           NaN  259500 -0.005747
7  68270  2021-10-01  260971.315593  ...           NaN  248000 -0.044316
8  68270  2021-10-05  258627.733916  ...           NaN  218000 -0.120968
9  68270  2021-10-06  236828.355953  ...           NaN  214000 -0.018349

[10 rows x 15 columns]

In [105]:
import statsmodels.api as sm

logit = total_table.copy()
logit = logit.fillna(0)

logit.drop('close',1,inplace=True)
logit['change'] = np.where(logit['change']>0,1,
                           np.where(logit['change']<0,-1,0))

logit = sm.add_constant(logit,has_constant = "add")
a = logit[logit['change'] == 0].index
logit = logit.drop(a)

In [106]:
cols = logit.columns.difference(["change",'code','date'])
X = logit[cols]
y = logit["change"]

In [107]:
# 모델 로딩
import joblib

model = joblib.load('/content/drive/My Drive/[KD1]D1,2_최종 프로젝트_팀별 산출물관리/6조/Code/result/셀트리온 통합/logit_cell_model.pkl') 
pred_y = model.predict(X)

In [108]:
logit['logit'] = pred_y
ratio = model.predict_proba(X) # [-1,1]
logit['up_ratio'] = 0.1

for i in range(len(logit)):
  logit['up_ratio'].iloc[i] = ratio[i][1]

In [109]:
logit.to_csv('/content/drive/My Drive/[KD1]D1,2_최종 프로젝트_팀별 산출물관리/6조/Code/result/셀트리온 통합/cell_logit_table'+end_date+'.csv')

In [110]:
logit

   const   code        date  ...  change  logit  up_ratio
0    1.0  68270  2021-09-17  ...       1      1  0.569860
1    1.0  68270  2021-09-23  ...       1     -1  0.379031
2    1.0  68270  2021-09-24  ...      -1     -1  0.280758
3    1.0  68270  2021-09-27  ...      -1     -1  0.329042
4    1.0  68270  2021-09-28  ...      -1     -1  0.408215
5    1.0  68270  2021-09-29  ...      -1     -1  0.370778
6    1.0  68270  2021-09-30  ...      -1     -1  0.409070
7    1.0  68270  2021-10-01  ...      -1     -1  0.494768
8    1.0  68270  2021-10-05  ...      -1      1  0.619073
9    1.0  68270  2021-10-06  ...      -1      1  0.874555

[10 rows x 17 columns]